<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--DESARROLLO-->
    <add key="DESA_IP" value="1.1.1.3"/>
    <add key="DESA_INSTANCIA" value="10"/>
    <add key="DESA_ID_SISTEMA" value="EDV"/>
    <add key="DESA_USUARIO" value="XXXX"/>
    <add key="DESA_PASSWORD" value="XXX!"/>
    <add key="DESA_MANDANTE01" value="110"/>
    <add key="DESA_LENGUAJE" value="ES"/>
    <add key="DESA_POOLSIZE" value="5"/>

    <!--CALIDAD-->
    <add key="QA_IP" value="1.2.3.9"/>
    <add key="QA_INSTANCIA" value="20"/>
    <add key="QA_ID_SISTEMA" value="EQA"/>
    <add key="QA_USUARIO" value="XXXX"/>
    <add key="QA_PASSWORD" value="XXX"/>
    <add key="QA_MANDANTE01" value="210"/>
    <add key="QA_LENGUAJE" value="ES"/>
    <add key="QA_POOLSIZE" value="5"/>

    <add key="ID_APLICACION" value="1"/>
    <add key="DireccionFrmDefault" value="~/Default.aspx"/>
    <add key="DireccionFrmConsulta" value="~/Consulta.aspx"/>
    <add key="DireccionFrmRegistro" value="~/IngresoAvisos.aspx"/>
    <add key="CantidaRegistrosporPagina" value="10"/>
    <add key="DefaultDllAmbiente" value="-- Seleccione --"/>

    <add key="MsgConsultaSinResultados" value="No se encontraron coincidencias con la búsqueda realizada."/>
    <add key="MsgConsultaCampoObligatorio" value="El campo es obligatorio para realizar la busqueda."/>
    <add key="MsgConsultaValidacionBusquedaA" value="Para aplicar la búsqueda mínimo el usuario debe ingresar 4 caracteres (sin considerar el comodín (*)."/>
    <add key="MsgConsultaValidacionBusquedaC" value="Para aplicar la búsqueda No se considera comodín (*)."/>
    <add key="MsgConsultaValidacionBusquedaUbiTecnica" value="Para aplicar la búsqueda mínimo el usuario debe ingresar 11 caracteres (sin considerar el comodín (*)."/>
    <add key="MsgConsultaValidacionBusquedaTextUbEqui" value="Para aplicar la búsqueda mínimo el usuario debe ingresar 8 caracteres (sin considerar el comodín (*)."/>
    <add key="ConsultaValidacionTooltip" value="Clic para seleccionar esta Fila."/>
    <add key="MsgSeleccionarOrigenAviso" value="Seleccione un Origen de Aviso."/>
    <add key="MsgSinGrupoEncontrado" value="No se encontraron Grupos de planificación."/>
    <add key="MsgSinPuestoTrabajoEncontrado" value="No se encontraron Puestos de Trabajo."/>
    <add key="MsgSinSintomaEncontrado" value="No se encontraron Síntomas."/>
    <add key="MsgSinCausaEncontrado" value="No se encontraron Causas."/>
    <add key="MsgSinParteObjectoEncontrado" value="No se encontraron Parte Objetos."/>

    <add key="MsgOrigenObligatorio" value="No se seleccionó el Origen del aviso."/>
    <add key="MsgGrupoPlaniObligatorio" value="No se seleccionó el Grupo de Planificación."/>
    <add key="MsgPuestoTrabajoObligatorio" value="No se seleccionó el Puesto de Trabajo."/>
    <add key="MsgAutorObligatorio" value="El nombre del Autor es obligatorio."/>
    <add key="MsgPrioridadObligatorio" value="No se seleccionó la Prioridad del aviso."/>
    <add key="MsgTextoBreveObligatorio" value="El texto breve es obligatorio."/>
    <add key="MsgClaseAvisoObligatorio" value="No se seleccionó la clase del aviso."/>
    <add key="MsgRepercusionObligatorio" value="No se seleccionó la repercusión del aviso."/>
    <add key="MsgTextoCausaObligatorio" value="El texto de la Causa es obligatorio."/>

    <add key="MsgErrorRedSocks" value="Por favor verificar su acceso a la Red / Socks."/>

    <add key="ItemSeleccione" value="--Seleccione--" />
    <add key="ItemTodos" value="--Todos--" />
    <add key="ItemNinguno" value="--Ninguno--" />

    <add key="RECURSO_RUTA_APLICACION" value="~/img/aplicacion.bmp"/>

  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\AvisosPM" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="-yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>
